* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #F1F1F1;
    color: #110C6C;
    display: flex;
    flex-direction: column;

}


header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background-color: #0047ab ;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 15px 30px;
    color: white;
    z-index: 999;
}
  
  header h1{
    font-size: 40px;
  }

  header img {
    width: 4em;
    height: 100%;
  }

  header .logo {
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.5));
  }

.corpo_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.borda__um {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 6px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 35px 35px;
    gap: 10px;
    max-width: 80%;
    min-width: 320px;
    min-height: 150px;
}

.borda__dois {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 6px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 35px 35px;
    gap: 10px;
    max-width: 80%;
    min-width: 320px;
    min-height: 220px;
}

.borda__tres {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 6px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 35px 35px;
    gap: 10px;
    max-width: 80%;
    min-width: 320px;
    min-height: 410px;
}

.borda__tres img {
    width: 90%;
}

.borda__quatro {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 6px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 15px 35px 35px;
    gap: 10px;
    max-width: 80%;
    min-width: 320px;
    min-height: 160px;
}

.borda__cinco {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 6px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 35px 35px;
    gap: 10px;
    max-width: 80%;
    min-width: 320px;
    min-height: 180px;
}

.borda__cinco ul li ul {
    margin-left: 12px;
}

.posicao {
    width: 100%;
   display: flex;
   gap: 30px;
   align-items: center;
   justify-content: center;
}

.borda__seis {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 6px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 35px 35px;
    gap: 10px;
    max-width: 60%;
    min-width: 320px;
    min-height: 200px;
}

.borda__seis img {
    width: 90%;
}

.borda__sete {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 6px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 35px 35px;
    gap: 10px;
    max-width: 40%;
    min-width: 320px;
    min-height: 200px;
}

.subtitulo {
    font-size: 38px;
    line-height: 49px;
    font-family: 'Verdana';
    font-weight: 700;
    text-align: center;
    color: #FF9315;
    text-align: center;
    align-self: stretch;
    padding: 0px;
}

.texto__prof {
   display: flex;
   flex-direction: column;
}

.texto {
    font-family: 'Verdana';
    font-weight: 400;
    font-size: 20px;
    color: black;
}

.texto__menor {
    font-family: 'Verdana';
    font-weight: 200;
    font-family: 20px;
    color: black;
    padding-top: 10px;
}

.grade {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: -5px;
    width: 100%;
}

.grade .grade_desktop {
    display: block;
}
.grade .grade_mobile {
    display: none;
}


.imagem__prof {
    width: 120px;
    height: 120px; 
    border-radius: 70px;
}


footer {
    width: 100%;
    height: 175px;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0047ab;
    color: white;
}

footer .contato h2, 
footer .localizacao h2 {
    font-size: 25px;
    text-decoration: underline;
    font-weight: bold;
    border-left: 2px solid white;
    padding-left: 5px;
}

footer p, 
footer li {
    font-size: 12px;
    font-weight: bold;
    border-left: 2px solid white;
    padding-left: 5px;
}

footer a,
footer a:visited {
    text-decoration: none;
    color: white;
}

footer .contato {
    text-decoration: underline;
    list-style-position: inside;
}

footer .localizacao {
    display: grid;
    grid-template-columns: 0.1fr 1.4fr;
    column-gap: 10px;
}
footer .localizacao img {
    width: 20px;
    height: 20px;
    color: white;
    grid-row: span 2;
}

@media (max-width: 1100px) {
    .grade .grade_desktop {
        display: none;
    }
    .grade .grade_mobile {
        display: block;
    }

    .posicao{
        flex-direction: column;
    }
    .borda__seis{
        min-width: 80%;
    }
    .borda__sete{
        min-width: 80%;
    }
}

@media screen and (max-width: 768px) {

 .borda__um {
    width: 320px;
 }
 .texto{
    font-size: 14px;
 }
 .subtitulo {
    font-size: 28px;
 }
 .subtitulo__flex {
    font-size: 28px;
 }

 .imagem__prof {
    width: 90px;
    height: 90px; 
    border-radius: 70px;
}

 footer {
    height: 244px;
    flex-direction: column;
  }
  footer h2 {
    font-size: 16px;
  }

  header .instagram {
    display: none;
  }

  footer .contato h2, footer .localizacao h2 {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
    .texto{
        font-size: 10px;
     }
     .subtitulo {
        font-size: 22px;
     }

}
